/* STYLE BUTTON COMPONENT*/

.botao {
    padding: 20px 60px;
    cursor: pointer;
    border: none;
    border-radius: 10px 10px;
    background-color: rgb(44, 51, 148);
}

.botao a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: white;
}

.botao:hover {
    background-color: rgb(31, 25, 63);
}